{% load static %}
<section class="bg-white">
  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <h1 class="display-4 fw-bold mb-4">Payments tool for software companies</h1>
        <p class="lead text-muted mb-4">From checkout to global sales tax compliance, companies around the world use Flowbite to simplify their payment stack.</p>
        <a href="#" class="btn btn-primary me-2">
          Get started
          <svg width="1em" height="1em" fill="currentColor" class="ms-2" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L14.586 11H3a1 1 0 110-2h11.586L10.293 3.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </a>
        <a href="#" class="btn btn-outline-secondary">
          Speak to Sales
        </a>
      </div>
      <div class="col-lg-5 d-none d-lg-block">
        <img src="{% static 'images/flowbite-phone-mockup.png' %}" alt="mockup" class="img-fluid">
      </div>
    </div>
  </div>
</section>
