<section class="bg-white">
    <div class="container text-center py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <dt class="display-4 fw-bold mb-2">{{ page_view_count }}+</dt>
                <dd class="text-muted">page views</dd>
            </div>
            <div class="col-md-6">
                <dt class="display-4 fw-bold mb-2">{{ social_views_count }}+</dt>
                <dd class="text-muted">social views</dd>
            </div>
        </div>
    </div>
</section>